<%= stylesheet_link_tag "home" %>

<header>

    <ul class="MainMenu">

        <li class="Home">
            <a href="<%= root_path %>">
                Home
            </a>
        </li>

        <li class="Services">
            <a href="<%= services_path %>" class="ServicesButton">
                Services
            </a>

            <div class="ServicesContent">

                <a href="<%= services_path %>">
                        Websites
                </a>

            </div>

        </li>

        <li class="Contacts">
            <a href="<%= contacts_path %>">
                Contacts
            </a>
        </li>

        <li class="About">
            <a href="<%= about_path %>">
                About
            </a>
        </li>

    </ul>

    <div class="News">

        <img src="/assets/NewsBanner.jpg" class="NewsBanner">

        <button class="ReadMore">
            Read more
        </div>

    </div>

</header>

<div class="MainBody">

    <div class="Presentation">

        <h2 class="Title">
            Website design solution for companies and individuals
        </h2>

        <div class="Introduction">

            <p>
                Work with us is the assurance to have your website with the lastest technologies.
            </p>

        </div>

    </div>

    <div class="Technologies">

        <img src="/assets/PresentationWallpaper.jpg" class="PresentationWallpaper">

        <div class="Presentation">

            <div class="Ruby">

                <img src="/assets/Ruby.png" class="RubyIcon">

                <p class="RubyDescription">
                    The powerful and dynamic open source Ruby programming language, object oriented, multiplatforms and focused on productivity.
                </p>

            </div>

            <div class="RubyOnRails">

                <img src="/assets/RubyOnRails.png" class="RubyOnRailsIcon">

                <p class="RubyOnRailsDescription">
                    The famous Rails framework for Ruby and used by big names like Twitch, AirBNB, Shopify, GitHub ...
                </p>

            </div>

            <div class="Html5">

                <img src="/assets/Html5.png" class="Html5Icon">

                <p class="Html5Description">
                    The fifth and last major HTML version that is a World Wide Web Consortium (W3C) recommendation.
                </p>

            </div>

            <div class="Css3">

                <img src="/assets/Css3.png" class="Css3Icon">

                <p class="Css3Description">
                    The third and last major CSS version.
                </p>

            </div>

        </div>

    </div>

</div>

<footer class="Footer">

    <div class="SocialLinks">

        <img src="/assets/Facebook.png">
        <img src="/assets/Twitter.png">
        <img src="/assets/Instagram.png">
        <img src="/assets/Linkedin.png">

    </div>

</footer>
