<%= stylesheet_link_tag "home" %>

<header>

    <ul class="MainMenu">

        <img href="<%= root_path %>" src="/assets/TadashiLogo.png" class="Home">

        <div class="Categories">

            <li class="Services">
                <a href="<%= services_path %>" class="Button">
                    Services
                </a>

                <div class="Content">

                    <a href="<%= services_path %>" class="Button">
                            Websites
                    </a>

                </div>

            </li>

            <li class="Contacts">
                <a href="<%= contacts_path %>" class="Button">
                    Contacts
                </a>
            </li>

            <li class="About">
                <a href="<%= about_path %>" class="Button">
                    About
                </a>
            </li>

        </div>

    </ul>

    <div class="News">

        <button class="ReadMoreButton">
            Read more
        </div>

    </div>

</header>

<div class="MainBody">

    <div class="Content">

        <h2 class="Title">
            Website design solution for companies and individuals
        </h2>

        <div class="Introduction">

            <p>
                Work with us is the assurance to have your website with the lastest technologies.
            </p>

        </div>

    </div>

    <div class="Technologies">

        <div class="Content">

            <div class="Ruby">

                <img src="/assets/Ruby.png" class="Icon">

                <p class="Description">
                    The powerful and dynamic open source Ruby programming language, object oriented, multiplatforms and focused on productivity.
                </p>

            </div>

            <div class="RubyOnRails">

                <img src="/assets/RubyOnRails.png" class="Icon">

                <p class="Description">
                    The famous Rails framework for Ruby and used by big names like Twitch, AirBNB, Shopify, GitHub ...
                </p>

            </div>

            <div class="Html5">

                <img src="/assets/Html5.png" class="Icon">

                <p class="Description">
                    The fifth and last major HTML version that is a World Wide Web Consortium (W3C) recommendation.
                </p>

            </div>

            <div class="Css3">

                <img src="/assets/Css3.png" class="Icon">

                <p class="Description">
                    The third and last major CSS version.
                </p>

            </div>

        </div>

    </div>

</div>

<footer class="Footer">

    <div class="SocialLinks">

        <img src="/assets/Facebook.png" class="Facebook">
        <img src="/assets/Twitter.png" class="Twitter">
        <img src="/assets/Instagram.png" class="Instagram">
        <img src="/assets/Linkedin.png" class="Linkedin">

    </div>

</footer>
