<%= stylesheet_link_tag "home" %>

<ul class="MainMenu">

    <li>
        <a href="<%= root_path %>">
            Home
        </a>
    </li>

    <li class="Services">
        <a href="<%= services_path %>" class="ServicesButton">
            Services
        </a>

        <div class="ServicesContent">

            <a href="<%= services_path %>">
                    Websites
            </a>

        </div>

    </li>

    <li>
        <a href="<%= contacts_path %>">
            Contacts
        </a>
    </li>

    <li>
        <a href="<%= about_path %>">
            About
        </a>
    </li>

</ul>

<img src="/assets/NewsBanner.jpg" class="NewsBanner">
<!--<div class="NewsBanner"></div>-->
