<%= stylesheet_link_tag "home" %>

<header>

    <nav class="MainMenu Item">

        <a href="<%= root_path %>" class="Home Item">
            <img src="/assets/TadashiLogo.png">
        </a>

        <a href="<%= services_path %>" class="Item">
            Services
        </a>

        <a href="<%= contacts_path %>" class="Item">
            Contacts
        </a>

        <a href="<%= about_path %>" class="Item">
            About
        </a>

    </nav>

</header>

<div class="News">

    <button class="ReadMoreButton">
        Read more
    </div>

</div>

<div class="MainBody">

    <div class="Content">

        <h2 class="Title">
            Website design solution for companies and individuals
        </h2>

        <div class="Introduction">

            <p>
                Work with us is the assurance to have your website with the lastest technologies.
            </p>

        </div>

    </div>

    <div class="Technologies">

        <div class="Content">

            <div class="Ruby">

                <img src="/assets/Ruby.png" class="Icon">

                <p class="Description">
                    The powerful and dynamic open source Ruby programming language, object oriented, multiplatforms and focused on productivity.
                </p>

            </div>

            <div class="RubyOnRails">

                <img src="/assets/RubyOnRails.png" class="Icon">

                <p class="Description">
                    The famous Rails framework for Ruby and used by big names like Twitch, AirBNB, Shopify, GitHub ...
                </p>

            </div>

            <div class="Html5">

                <img src="/assets/Html5.png" class="Icon">

                <p class="Description">
                    The fifth and last major HTML version that is a World Wide Web Consortium (W3C) recommendation.
                </p>

            </div>

            <div class="Css3">

                <img src="/assets/Css3.png" class="Icon">

                <p class="Description">
                    The third and last major CSS version.
                </p>

            </div>

        </div>

    </div>

</div>

<footer class="Footer">

    <div class="Contacts">

        <h3 class="Title">
            Contacts
        </h3>

        <a href="mailto:contact@tadashi.co.uk" class="Mail">
            contact@tadashi.co.uk
        </a>

        <div class="SocialLinks">

            <img src="/assets/Facebook.png" class="Facebook">
            <img src="/assets/Twitter.png" class="Twitter">
            <img src="/assets/Instagram.png" class="Instagram">
            <img src="/assets/Linkedin.png" class="Linkedin">

        </div>

    </div>

</footer>
